body {
  background-color: black;
  color: ghostwhite;
}

.image-medium {
  height: 500px;
  width: 300px;
}

.banner-image {
  height:300px;
  width: 1555px;

}
#booking {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 26px;
}

.submitButton {
  width: 106px;
}

.deleteButton {
  width: 106px;
}