/*font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.banner-image {
  max-width: 100%;
  height: auto;
  }

.myheader {
  color: rgb(31, 85, 187);
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  }

body {
  background-color: black;
  color: rgb(196, 196, 196);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

h1{
  font-weight: lighter;
  color: blue;
}

h2{
  color: blue;
  font-family: 'Amatic SC', cursive;
  margin-left: 75px;
  font-size: 50px;
}

h3{
  margin-left: 75px;
  color: rgb(196, 196, 196);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

p{
  margin-left: 75px;
}

a{
  color: white;
  font: weight 400;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


.image-medium {
  height: 500px;
  width: 300px;
}

.Haunted-House {
  height: 500px;
  width: 300px;
}

.Haunted-Forest {
  height: 300px;
  width: 500px;
}

.MirrorRoom {
  height: 300px;
  width: 500px;
}

.right menu {
  color: blue;
}

#booking {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 500px;
}

#booking p {
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 40px;
  color: blue;
  background-color: midnightblue;
}

.submitButton {
  width: 106px;
  margin: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: none;
  padding: 10px;
}

.deleteButton {
  width: 200px;
  margin: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: none;
  padding: 10px;
}

#buttons{
  display: flex;
}

.GalleryButton{
  width: 250px;
  margin: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  background-color: blue;
  border: none;
  padding: 10px;
}

.gmap_canvas{
  margin-left: 75px;
  position:relative;
  text-align:right;
  height:500px;
  width:604px;
  overflow:hidden;
  background:none;
  height:500px;
  width:604px;
}